body {
  background-color: #ffffff;
  padding: 20px;
}
/* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}
/* */
.qr-box {
  max-width: max-content;
  margin: 0 auto;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.qr-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 10px;
  height: 100%;
  background-color: white;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);;
  border-radius: 8px;
  border: 2px solid #33333333;
}
.qr-box-subtitle {
  font-weight: lighter;
  margin-top: 5px;
}
/* */
.bg-elems {
  position: fixed;
  top: 0;
  z-index: -1;
  min-height: 100%;
  height: auto;
  width: 400px;
  display: flex;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  background-image: linear-gradient(-45deg, #c7c7c769 25%, transparent 25%, transparent 50%, #c7c7c769 50%, #c7c7c769 75%, transparent 75%, transparent);
}
.bg-elems.l {
  left: 0;
}
.bg-elems.r {
  right: 0;
}
.bg-elems img {
  top: auto;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: -2;
  filter: opacity(0.65) sepia(0.6) blur(2.5px);
}
@media (max-width: 800px) {
  .bg-elems {
    width: 100vh;
  }
  .bg-elems.l {
    left: -135px;
  }
  .bg-elems.r {
    display: none;
  }
  .game-title {
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid #33333333;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);;
  }
}
/* */
.screen-wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.start-button {
  font-size: 32px;
  padding: 30px 100px;
  align-content: center;
  cursor: pointer;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 12px;
}
.start-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.start-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: italic;
}
.start-button-subtitle {
  margin-top: 30px;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: max-content;
  min-height: max-content;
  position: fixed;
  z-index: 0;
  bottom: 30px;
  padding: 10px;
  left: 2%;
  background-color: white;
  border: 2px solid #33333333;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
.timer span {
  font-style: italic;
}
.timer div {
  font-weight: bold;
}
/* */
.game {
  max-width: 900px;
  margin: 0 auto 30px;
}
.game-title {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  padding-bottom: 20px;
}
.game-separator {
  width: 100%;
  max-width: 480px;
  margin: 15px auto;
  border: 2px solid #33333333;
  border-radius: 5px;
}
.questions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}
.questions.active * {
  cursor: pointer;
}
.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
/* */
.question-box {
  flex: 1;
  min-width: 45%;
  min-height: 120px;
  padding: 12px;
  border: 2px solid #33333333;
  background-color: #fff;
  border-radius: 6px;
}
.question-box.placed {
  border-color: #a5a728;
  box-shadow: 0 0 5px #a5a728;
}
.question-title {
  font-weight: 100;
  margin-bottom: 10px;
}
.question-answers {
  display: flex;
  flex-direction: row;
  gap: 6px;
  white-space: nowrap;
}
/* */
.answer-card {
  padding: 10px 14px;
  border: 2px solid #555;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.answer-card:hover {
  background-color: #eee;
}
.answer-card.placed:hover {
  cursor: default;
  background-color: #fff;
}
.answer-card.selected {
  border-color: #0066ff;
}
.continue-button {
  margin-left: auto;
  margin-top: 40px;
  max-width: fit-content;
  padding: 30px 30px;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  align-content: center;
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(-45deg, #c7c7c769 25%, transparent 25%, transparent 50%, #c7c7c769 50%, #c7c7c769 75%, transparent 75%, transparent);
  border-radius: 12px;
}
.continue-button.ready {
  cursor: pointer;
  background-color: white;
  background-image: none;
}
.continue-button.ready:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.90);
}
.scoreboard {
  display: flex;
  min-height: max-content;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 28px;
  margin-top: 50px;
  gap: 30px
}
.score-success {
  font-size: 38px;
  font-weight: bold;
  color: #28a745
}
.score-fail {
  font-size: 38px;
  font-weight: bold;
  color: #dc3545
}