body {
  background-color: #ffffff;
  padding: 20px;
}
/* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}
/* */
.qr-box {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.qr-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 10px;
  height: 100%;
  background-color: white;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);;
  border-radius: 8px;
  border: 2px solid #33333333;
}
.qr-box-subtitle {
  font-weight: lighter;
  margin-top: 5px;
}
/* */
.bg-elems {
  position: fixed;
  top: 0;
  z-index: -1;
  min-height: 100%;
  height: auto;
  width: 400px;
  display: flex;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  background-image: linear-gradient(-45deg, #c7c7c769 25%, transparent 25%, transparent 50%, #c7c7c769 50%, #c7c7c769 75%, transparent 75%, transparent);
}
.bg-elems.l {
  left: 0;
}
.bg-elems.r {
  right: 0;
}
.bg-elems img {
  top: auto;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: -2;
  filter: opacity(0.65) sepia(0.6) blur(2.5px);
}
@media (max-width: 800px) {
  .qr-box {
    display: none;
  }
/* */
  .bg-elems {
    width: 100vh;
  }
  .bg-elems.l {
    left: -180px;
  }
  .bg-elems.r {
    display: none;
  }
}
/* */
.game {
  max-width: 900px;
  margin: 0 auto 30px;
}
.game-title {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  padding-bottom: 20px;
}
.game-separator {
  max-width: 480px;
  margin: 15px auto;
  border: 2px solid #33333333;
  border-radius: 5px;
}
.questions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}
.questions.active * {
  cursor: pointer;
}
.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.lives {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: min-content;
  position: fixed;
  z-index: 0;
  bottom: 30px;
  padding: 10px;
  left: 2%;
  background-color: white;
  border: 2px solid #33333333;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);;
}
.lives img {
  height: 30px;
}
.lives div {
  display: flex;
}
.lives span {
}
@media (min-width: 1250px) {
  .lives {
    left: 105px;
  }
}
/* */
.overlay {
  position: fixed;
  inset: 0;
  background: red;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}
.overlay.show {
  opacity: 0.2;
}
/* */
.question-box {
  flex: 1;
  min-width: 45%;
  min-height: 120px;
  padding: 12px;
  border: 2px solid #33333333;
  background-color: #fff;
  border-radius: 6px;
}
.question-box.complete {
  border-color: #28a745; /* green outline */
  box-shadow: 0 0 5px #28a745;
}
.question-title {
  font-weight: 100;
  margin-bottom: 10px;
}
.question-answers {
  display: flex;
  flex-direction: row;
  gap: 6px;
  white-space: nowrap;
}
/* */
.answer-card {
  padding: 10px 14px;
  border: 2px solid #555;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.answer-card:hover {
  background-color: #eee;
}
.answer-card.selected {
  border-color: #0066ff;
}
.answer-card.correct {
  background-color: #d4edda;
  border-color: #28a745;
  cursor: default;
}
.answer-card.wrong {
  background-color: #f8d7da;
  border-color: #dc3545;
}
